* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-nav me-auto mb-2 mb-lg-0 {
    width: 80vw;
}

.navbar {
    width: 100vw;
    height: auto;
}

.nav-color {
    background-color: rgba(104, 102, 102, 0.801);
}

.navbar ul {
    padding-left: 150px;
    font-size: 20px;
}

.navbar-brand img {
    width: 150px;
}

.navbar-toggler {
    background-color: bisque;
    margin: 10px;
}

.color {
    color: aliceblue;
}



.carrito {
    height: 50px;
    margin: 10px;
}

.bg-light {
    background-color: rgba(109, 106, 106, 0.781);
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main {
    position: relative;
    top: 95px;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;

}

.header h1 h2 h3 {
    overflow-x: hidden;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn:hover {
    background-color: burlywood;
    color: rgb(109, 116, 109);
}

.navbar li:hover {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 10%;
}

.boton {
    display: flex;
    align-items: center;
}

.grilla {
    background-image: url(../img/fondoPag.jpg);
}

#tituloCarrito {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 40px;



}

.table tr th {
    border: 1px solid black;
    text-align: center;
    width: 10vw;
}

.table1 tr td {

    border: 1px solid black;
    text-align: center;
    width: 10vw;
}

.botonesDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display{
    width: 100px;
    height: 50px;
    margin: 0 10px 0 10px;
    text-align: center;
}