* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.navbar-nav me-auto mb-2 mb-lg-0 {
    width: 80vw;
}

.navbar {
    width: 100vw;
    height: auto;

}

.nav-color {
    background-color: rgba(104, 102, 102, 0.801);
}

.navbar ul {
    padding-left: 150px;
    font-size: 20px;
}

.navbar-brand img {
    width: 150px;
}

.navbar-toggler {
    background-color: bisque;
    margin: 10px;
}


.carrito {
    height: 50px;
    margin: 10px;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(../img/fondos23.jpg);
    position: relative;
    top: 95px;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;


}

.header {
    overflow-x: hidden;
}


h1 {
    overflow-y: hidden;
}

h2 {
    overflow-y: hidden;
}

h3 {
    overflow-y: hidden;
}

.card{
    height: 600px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn:hover {
    background-color: rgb(70, 69, 69);
}

.navbar li:hover {
    padding: 10px;
    background-color: rgb(78, 75, 75);
    border: 1px solid rgb(49, 42, 42);
    border-radius: 5%;
}


.tituloCarro{
    text-align: center;
    margin: 20px;
}

.table{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    justify-content: flex-start;
    border: 0;

}

.table tbody{
    width: 95vw;
    border: 0;
}

.table tr th {
    border: 1px solid black;
    text-align: center;
    width: 15vw;
    font-size: 12px;
    margin: 0;
    padding: 5px;
   
    
}

.table1{
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: flex-start;
    border: 0;

}

.table1 tbody{
    width: 95vw;
    border: 0;
}

.table1 tr td {

    border: 1px solid black;
    text-align: center;
    width: 15vw;
    font-size: 10px;
    margin: 0;
    padding: 5px;

    
}

.total{
    text-align: center;
    margin: 20px 0 40px 0;
}


.botonesDisplay {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display {
    width: 100px;
    height: 50px;
    margin: 0 10px 0 10px;
    text-align: center;
}

.frase{
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: beige;
    width: 80vw;
    display: flex;
    margin: 0;
    padding: 20px;
    
}

.frase1{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 20px 20px;
    
}

.tituloFrase{
    color: rgb(17, 15, 15);
    text-align: center;
    margin-bottom: 0;
}


.datosC{
    display: flex;    
    flex-direction: column;
    align-content: center;    
}

.estado{
    text-align: center;
    margin: 20px;
}

.botonConfirmarCompra{
    display: flex;
    justify-content: center;
    margin-top: 20px;    
}

.ver{
    text-align: center;
}

.ponerCant{
    text-align: center;
    color: red;
    font-size: 30px;
    margin-bottom: 30px;
}

/* medias query */

@media (min-width: 768px) {

    .main-contacto {
        min-height: 67vh;
    }

    .input-group {
        width: 60vw;
    }

    .fotos1 img {
        width: 30vw;
    }

    .fotos2 img {
        width: 25vw;
    }

    .local ul {
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .local ul li img {
        width: 28vw;
        height: auto;
    }

    .mapa {
        width: 40vw;
    }

    .formulario form {
        width: 50vw;
    }

    .formulario form select {
        width: 50vw;
    }

    .label-input {
        width: 50vw;
    }

    .formulario form button {
        width: 50vw;
    }

    .datosC{
        width: 100vw; 
        justify-content: center;  
        align-items: center;
    }

    .input{
        width: 50vw;
        
    }

    .table{
        
        justify-content: center;
    
    }

    .table tr th {        
        font-size: 20px;
        margin: 0;
        padding: 5px;
        justify-content: center;
        
    }
    
    .table1{
       
        justify-content: center;
    
    }

    .table1 tr td {
    
        
        font-size: 20px;
        margin: 0;
        padding: 5px;
        justify-content: center;
    
        
    }

}


@media (min-width: 1024px) {

    * {
        overflow-x: visible;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }


    .input-group {
        width: 50vw;
    }

    .navbar {
        height: 110px;
    }

    navbar-brand img {
        width: 200px;
    }

    .footer {
        position: relative;
        bottom: -110px;
        left: 0;
        right: 0;
    }

    .main {
        position: relative;
        top: 110px;
        height: auto;
    }

    .main-contacto {
        position: relative;
        top: 110px;
    }
}


@media (min-width: 1366px) {

    .margen {
        margin-left: 200px;
    }

    .formulario form {
        width: 30vw;
    }

    .formulario form select {
        width: 30vw;
    }

    .label-input {
        width: 30vw;
    }

    .formulario form button {
        width: 30vw;
    }

    
}